<div class="sidebar">
  <nav>
    <ul>
      <li>
        <a [routerLink]='["/"]' title="Homepage">Home</a>
      </li>
      <li>
        <span title="Artists">Artists</span>
        <ul>
          <li>
            <a [routerLink]='["/artist"]' title="All artists">All artists</a>
          </li>
          <li>
            <a [routerLink]='["/artist/create"]' title="Add artist">Add artist</a>
          </li>
        </ul>
      </li>
      <li>
        <span title="People">People</span>
        <ul>
          <li>
            <a [routerLink]='["/person"]' title="All people">All people</a>
          </li>
          <li>
            <a [routerLink]='["/person/create"]' title="Add person">Add person</a>
          </li>
        </ul>
      </li>
      <li>
        <span title="Songs">Songs</span>
        <ul>
          <li>
            <a [routerLink]='["/song"]' title="All songs">All songs</a>
          </li>
          <li>
            <a [routerLink]='["/song/create"]' title="Add song">Add song</a>
          </li>
        </ul>
      </li>
      <li>
        <span title="Manage media">Manage media</span>
        <ul>
          <li>
            <a [routerLink]='["/mediumtype"]' title="Manage media">All media</a>
          </li>
          <li>
            <a [routerLink]='["/mediumtype/create"]' title="Add medium">Add medium</a>
          </li>
        </ul>
      </li>
      <li>
        <span title="Account">Account</span>
        <ul>
          <li>
            <a [routerLink]='["/login"]' title="Login">Login</a>
          </li>
          <li>
            <a [routerLink]='["/register"]' title="Create account">Register</a>
          </li>
          <li>
            <a [routerLink]='["/profile"]' title="Profile">Profile</a>
          </li>
          <li>
            <a title="Log out">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
